/* GENERAL CSS */
:root {
    --primary-color: #8bacda;
    --secondary-color: hsl(178, 100%, 50%);
}

/* font-family: 'Outfit', sans-serif; */

* {
    box-sizing: border-box;
    overflow: hidden;
}

* a {
    text-decoration: none;
}

html {
    font-size: 18px;
}

body{
    background-color: hsl(216, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ==================== MOBILE FIRST CSS ==================== */

/* ==================== PREVIEW CARD CSS ==================== */

article.preview-card {
    width: 90%;
    max-width: 350px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 16px;
}

/* ===================== IMAGES ===================== */

.nft-img img {
    width: 100%;
    border-radius: 8px;
}

.nft-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-img::before {
    position: absolute;
    content: url(images/icon-view.svg);
    display: grid;
    place-content: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.nft-img:hover::before {
    opacity: 1;
}

/* ==================== TEXT STYLE ==================== */

.nft-info h1 a {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.nft-info h1 a:hover {
    color: var(--secondary-color);
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.nft-info p {
    color: #a7b8d1e5 ;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.5rem;
}

div.price-spaceb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-spaceb span.nft-price {
    color: var(--secondary-color);
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center; /* Alinea vertical icono & texto */
}

.price-spaceb span.nft-price img {
    margin-right: 5px; /* Espacio entre el ícono y el texto del precio */
}

.price-spaceb span.time-remaining {
    color: #a7b8d1e5;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    align-items: center; /* Alinea vertical icono & texto */
}

.price-spaceb span.time-remaining img {
    margin-right: 5px; /* Espacio entre el ícono y el texto del precio */
}

.preview-card hr.divider-price {
    border: none;
    border-top: 1px hsl(215, 32%, 27%) solid;
    margin: 15px auto;
    border-radius: 8px;
}

/* ==================== FOOTER STYLE ===================== */

footer.author span {
    display: flex;
    align-items: center;
    color: #a7b8d1e5;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

footer.author span a {
    color: white;
    font-style: normal;
}

footer.author span a:hover {
    color: var(--secondary-color);
    font-style: normal;
}

footer.author span img {
    width: 2rem;
    border: solid white 1px;
    border-radius: 100%;
    margin-right: 15px;
}